*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    background-color:green;
    position: relative;
    height: 70px;
    width: 100%;
    text-decoration: none;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 30px;
    padding: 4 100px;
    font-weight: bold;
}
nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: left;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    font-size: 20px;
    border: 3px  ;
    color: aliceblue;
}
.nav-links ul li a:hover{
    background-color:white;
    color: black;
    transition: 1s;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(images/malte-helmhold-PSRttYVouDo-unsplash.jpg);
    background-size: cover;
    background-position: centre;
    background-repeat: no-repeat;
    padding-left: 10px;
}
.container-1{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding:20px 30px;
    border-radius: 5px;
    background-color: #71b7e6;
}
.container-1 .title{
    font-size:25px ;
    font-weight:400 ;
    position: relative;
    margin-top: 5px;
    top: 15px;
    left: 30%;
}
.container-1 .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.container form .user-details{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
form .user-details .input-box{
    margin: 20px 0 12px 0;
width: calc(100% /2 - 20px);
}
.user-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
display: block;
}
.user-details .input-box input{
height: 40px;
width: 100%;
outline: none;
border-radius: 5px;
border: 1px solid #ccc;
padding-left: 15px;
font-size: 16px;
}
form .button{
    height: 45px;
    margin: 45px 0;
    width: 100%;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    border: none;
    letter-spacing: 1px;
}
form .button input:hover{
    background: linear-gradient(-135deg,#71b7e6,#9b59b6);
}
