*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    background-color:rgb(88, 52, 214);
    position: relative;
    height: 70px;
    width: 100%;
    text-decoration: none;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 30px;
    padding: 4 100px;
    font-weight: bold;
}
nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: left;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    font-size: 20px;
    border: 3px  ;
    color: aliceblue;
}
.nav-links ul li a:hover{
    background-color:white;
    color: black;
    transition: 1s;
}
.service{
background-image: url(images/pexels-rodnae-productions-8052210.jpg);
padding: 200px;
background-repeat: no-repeat;
margin:0%;
background-size: cover;
}
.head{
    color: white;
    width: 500px;
}
h1{
    font-size: 30px;
    font-weight: 600;
}
p{
    font-size: 20px;
    font-weight: 300;
    line-height:40px;
    padding: 10px;
}
.booking{
    font-size: 70px;
    font-weight: 300;
    line-height:40px;
    padding: 10px;
    max-width: 100%;
    margin: 10px;
    background-color: #f2f2f2;
    overflow: auto;
    padding: 20px;
    height: 200px;
}
.footer{
    width: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    margin-top: 150PX;
    display: flex;
    padding: 70px 0;
    height: auto;
}
.footer-row{
    width: 25%;
    padding: 0 15px;
}
.footer-row h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}
.footer-row h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-row ul li:not(:last-child){
    margin-bottom: 10px;
}
footer ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    
}
.footer-row ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.container{
    width: 1300px;
    margin: auto;
    height: 150px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
